/* Sign In and Sign Up Forms */
body {
  text-align: center;
  height: 100vh;
}

.signin-container {
  height: 400px;
  width: 600px;
  margin-top: 50px;
  display: inline-block;
  /* place-items: center; */
  padding: 3rem;
  border: 1px solid black;
  text-align: center;
}

nav {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0 0 2rem 0;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0;
  /* padding: 0.3rem 0; */
  margin: 0 1rem;
}

a.active {
  border-bottom: 2px solid #5c91e6;
}
/*
form {
  /* border: 1px solid red; */
  /* width: 100%; */
/* } */

input {
  box-sizing: border-box;
  margin-bottom: 15px;
}

.signin-form {
  width: 100%;
  margin: auto;
  padding: 3rem;
  border: 1px solid black;
  box-sizing: border-box;
}

input {
  width: 100%;
  background: none;
  border: 2px solid #7C7C7C;
  padding: 1rem;
}

button {
  background-color: #5c91e6;
  width: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
}

/* General */
.error {
  color: red;
  font-size: 9pt;
}
